html,
body {
  margin: 0 auto;
  height: 100%;
  background: #000;
  box-sizing: border-box;
}

*,
:after,
:before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

.text-info {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  color: white;
}

.top-ui {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  line-height: 1.7em;
  color: #cccccc;
}

.bottom-ui {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  color: #868686;
}

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}