html,
body {
  margin: 0 auto;
  height: 100%;
  background: #000;
  box-sizing: border-box;
}

*,
:after,
:before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

.text-info {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 3.2vmin;
  line-height: 5vmin;
  color: white;
}

.text-color-black {
  color: black;
}

.text-weight-bold {
  font-weight: bold;
}

.preview-img {
  border-radius: 3vmin;
}

.preview-ui {
  display: flex;
  border-radius: 3vmin;
  background-color: #FFF;
  justify-content: center;
  align-items: center;
  border: 6vmin solid #FFF;
}

.top-ui-logo {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 4.2vmin;
  line-height: 8.4vmin;
  color: #cccccc;
}

.bottom-ui-copyright {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 3.2vmin;
  line-height: 7.2vmin;
  color: #868686;
}

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}